
/* ---- CSS Blocks ---- */


.trombi {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.trombi figcaption {
    text-align: center;
    font-size: 1.5em;
}

@media print {
    @page {
        size: A4 landscape;
        margin: 0cm;
    }

    h1 {
        font-size: var(--step-3);
    }

    .trombi {
        display: grid;
        grid-template-columns: repeat(5, 42mm);
        gap: 0.5em;
        justify-content: space-evenly;
    }
}