---
title: Les clé2fabs - permanents d'accueil de La Fabrique
layout: base.njk
---

<div class="l_box l_flow" style="--l_box__padding:2rem">

<h1 class=".u_ta-center">{{title}}</h1>

<div class="trombi">

{% for people in C2F|sort %}

<figure>
  <img src="/pictures/C2F/{{people}}.jpeg" alt="Une photo de {{people}}" eleventy:widths="350, 700" loading="lazy"/>
  <figcaption>{{people}}</figcaption>
</figure>

{% endfor %}

</div>
</div>
