<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="{{ eleventy.generator }}">
  <title>{{ title }}</title>
</head>
<body style="margin:0">
  <main style="width:100vw; height:100vh; margin:0; padding:0;
display: flex; justify-content: center; align-items: center;">
    {{ content | safe }}
  </main>
</body>
</html>
