---
pagination:
  data: planning
  size: 1
  alias: row
permalink: "planning/W{{ row[0] | padZero(2) }}/"
layout: base.njk
---


<pre style="background-color:#FF8000;width:25em;font-size:2rem;padding:1rem;border: 4px solid black;border-radius:30px;">
<strong>À l'accueil cette semaine</strong>

  Jeudi {{ row[1]}}
    à 10h : {{ row[2]}}
    à 13h : {{ row[4]}}

  Vendredi {{ row[6]}}
    à 13h : {{ row[7]}}
    à 16h : {{ row[9]}}

  Samedi {{ row[11]}}
    à 10h : {{ row[12]}}
    à 13h : {{ row[14]}}
    à 16h : {{ row[16]}}
</pre>
